:root {
    --Primary-Brand-color-Iris: #4D5AE5;
    --Pressed-state-color-OCEAN: #404BBF;
    --Headings-color-Navyblue: #2E2F42;
    --Body-text-color-SLATE: #434455;
    --white: #FFFFFF;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --lightSlate: #8E8F99;
    --transition-duration-and-funk: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Body */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Body-text-color-SLATE);
}

/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding: 120px 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    display: flex;
}

.header {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-nav {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-link-item:not(:last-child) {
    margin-right: 40px;
}

/* Header */

.web {
    width: 44px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--Primary-Brand-color-Iris);
    margin-right: 147px;
    padding: 24px;
}

.studio {
    width: 71px;
    height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--Headings-color-Navyblue);
}

.menu-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Headings-color-Navyblue);
    transition: color var(--transition-duration-and-funk);
}

.current {
    color: var(--Pressed-state-color-OCEAN);
}

.menu-link.current::after {
    position: absolute;
    left: 0;
    margin-top: 46px;
    content: "";
    width: 100%;
    height: 4px;
    background: var(--Pressed-state-color-OCEAN);
    border-radius: 2px;
}


.menu-link:focus,
.menu-link:hover {
    color: var(--Pressed-state-color-OCEAN);
}


.adress {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--Body-text-color-SLATE);
    font-style: normal;
    transition: color var(--transition-duration-and-funk);
}

.adress:hover,
.adress:focus {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Pressed-state-color-OCEAN);
    font-style: normal;
}

.contacts {
    display: flex;
    align-items: center;
    font-style: normal;
    gap: 40px;
}

/* section one */

.section-one {
    background-color: var(--Headings-color-Navyblue);
    padding: 188px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office\ 1.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.hero {
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
    color: var(--white);
    max-width: 496px;
}

.order-service-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    background-color: var(--Primary-Brand-color-Iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
    padding: 16px 32px;
    border: none;
    margin: 0 auto;
    display: block;
    transition: background-color var(--transition-duration-and-funk);
}

.order-service-button:hover,
.order-service-button:focus {
    background-color: var(--Pressed-state-color-OCEAN);
}

/* section two */

.section-two {
    padding-bottom: 0;
}

.hdr-two {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--Headings-color-Navyblue);
    margin-bottom: 72px;
}

.strategy-item {
    height: 112px;
    background-color: var(--cloud);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.list-wrap {
    display: flex;
    gap: 24px;
}

.list-wrap-item {
    flex-basis: calc((100% - 72px)/4);
}

.hdr-three {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--Headings-color-Navyblue);
}

.description {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Body-text-color-SLATE);

}

/* section three */

.section-three {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--Headings-color-Navyblue);
}

.container-wrap {
    display: flex;
    flex-direction: column;
    flex-basis: 412px;
}

.section-three-list {
    display: flex;
    gap: 24px;
}

.wwd-item {
    display: flex;
    flex-basis: 412px;
}

/* section-four */

.section-four {
    display: flex;
    flex-direction: column;
    background-color: var(--cloud);
    flex-basis: 732px;
}

.section-four-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card {
    text-align: center;
    background: var(--white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    display: block;
    flex-basis: 380px;
}

.card-info {
    padding: 32px 16px;
}

.team-soc {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 8px;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--Primary-Brand-color-Iris);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-duration-and-funk);
}

.team-soc-icon {
    fill: var(--cloud);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--Pressed-state-color-OCEAN);
}

/* Customers */

.customers-wrap {
    padding: 120px 0;
}

.customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.customers-list-item {
    flex-basis: calc((100% - 120px)/6);
}

.customers-list-link {
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid var(--lightSlate);
    color: var(--lightSlate);
}

.customers-list-icon {
    fill: currentColor;
    transition: color var(--transition-duration-and-funk),
        border-color var(--transition-duration-and-funk);
}

.customers-list-icon:hover,
.customers-list-icon:focus,
.customers-list-link:hover,
.customers-list-link:focus {
    color: var(--Pressed-state-color-OCEAN);
    border-color: var(--Pressed-state-color-OCEAN);
}

/* Footer */

.footer {
    background-color: var(--Headings-color-Navyblue);
    display: block;
    padding: 100px 0;
}

.footer-goal {
    color: var(--cornflower);
    max-width: 264px;
    padding-top: 16px;
}

.footer-wraper {
    display: flex;
}

.footer-web {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--Primary-Brand-color-Iris);
}

.footer-studio {
    width: 71px;
    height: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
}

.footer-info {
    margin-right: 120px;
}

.hdr-four {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    padding-bottom: 16px;
}

.footer-soc {
    width: 208px;
    height: 80px;
    display: flex;
    flex-direction: column;
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-top: 8px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-duration-and-funk);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #31D0AA;
}

/* portfolio */
.portfolio {
    padding-top: 96px;
}

.buttons-filter-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.button-filter {
    padding: 12px 24px;
    color: var(--Primary-Brand-color-Iris);
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    background-color: var(--cloud);
    cursor: pointer;
    letter-spacing: 0.04em;
    transition: background-color var(--transition-duration-and-funk),
        border-color var(--transition-duration-and-funk);
}

.button-filter:hover,
.button-filter:focus {
    background-color: var(--Pressed-state-color-OCEAN);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border-color: var(--Pressed-state-color-OCEAN);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--white);
    cursor: pointer;
}

.hdr-two-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--Headings-color-Navyblue);
}

.card-portfolio {
    background: var(--white);
    flex-basis: calc((100% - 72px)/3);
}

.card-portfolio:hover,
.card-portfolio:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px 24px;
}

.img-info {
    padding: 32px 16px;
    border-left: 1px solid var(--cornflower);
    border-right: 1px solid var(--cornflower);
    border-bottom: 1px solid var(--cornflower);
}

.card-portfolio-wrap {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    transform: translate(0, 100%);
    transition: transform var(--transition-duration-and-funk);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    padding: 40px 32px;
    background-color: var(--Primary-Brand-color-Iris);
}

.card-portfolio-link:hover .overlay,
.card-portfolio-link:focus .overlay {
    transform: translate(0, 0);
}

/* Modal window */
.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition-duration-and-funk),
        visibility var(--transition-duration-and-funk);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.15);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 200ms linear;
    width: 408px;
    height: 576px;
    border-radius: 4px;
    background-color: var(--white);
}

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--cornflower);
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.10);
    padding: 0;
    transition: fill var(--transition-duration-and-funk),
        background-color var(--transition-duration-and-funk);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--Pressed-state-color-OCEAN);
    fill: var(--white);
}